<div class="ozellikGizle signup-form" data-id=@ViewBag.kayitEdilen>
    <form method="post" action="/Product/AddProductModelOptions" id="form" class="form">
        <h3>
            <span class="title_text">Ürün Özellikleri</span>
        </h3>
        <fieldset>

            <div class="fieldset-content" style="overflow-y: scroll !important">
                <div class="form-group" style="float: left !important">
                    <label for="full_name" class="form-label">Özellik Tip</label>
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Özellik Tip" style="width: 40% !important;" />
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Açıklama" style="width: 20% !important;" />
                </div>
                <div class="form-group" style="clear: both; float: left !important">
                    <label for="full_name" class="form-label">Özellik Tip</label>
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Özellik Tip" style="width: 40% !important;" />
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Açıklama" style="width: 20% !important;" />
                </div>
                <div class="form-group" style="clear: both; float: left !important">
                    <label for="full_name" class="form-label">Özellik Tip</label>
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Özellik Tip" style="width: 40% !important;" />
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Açıklama" style="width: 20% !important;" />
                </div>
                <div class="form-group" style="clear: both; float: left !important">
                    <label for="full_name" class="form-label">Özellik Tip</label>
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Özellik Tip" style="width: 40% !important;" />
                    <input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Açıklama" style="width: 20% !important;" />
                </div>

                <a style="margin-left: 30%; text-decoration: none" href="javascript:void(0)" class="newOption"> Yeni bir özellik eklemek için tıklayınız.</a>
                <a class="dene" href="javascript:void(0)">deneme</a>
            </div>

            <div class="fieldset-footer">
                <span>Adım 2 / 3</span>
            </div>

        </fieldset>

    </form>
</div>

<script>
    var proId = @Convert.ToInt32(ViewBag.kayitEdilen);
    $(".newOption").click(function () {
        var html = ' <div class="form-group" style="clear: both; float: left !important">';
        html += '<label for="full_name" class="form-label">Özellik Tip</label>';
        html +='<input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Özellik Tip" style="width: 40% !important;" />';
        html +='<input class="ozellik" type="text" name="full_name" id="full_name" placeholder="Açıklama" style="width: 20% !important;"/>';
        html += '</div>';
        $(".newOption").before(html);
    });
    $(".dene").click(function() {
        var proId=$(".ozellikGizle").data("id");

        var al = document.getElementsByClassName("ozellik");

        var text ="";
        var i;
        for (i = 0; i < al.length; i++) {
            if (al[i].value!="") {
                text += al[i].value + "-";
            }
        }
        $.ajax({
            type:"POST",
            url: "/Product/AddProductModelOptions",
            data: {dizi:text,proId:proId}
        });
    });
</script>