@using ETicaret.Entities.Models
@model ETicaret.MVCUI.Models.FilterPage

                   

@foreach (Product pro in Model.Products)
{
    <div class="col-lg-4 col-md-6">
        <div class="single-product">
            <a href="/Product/Detay/@pro.Id"><img class="img-fluid" src="/Content/img/product/p1.jpg" alt=""></a>
            <div class="product-details">
                <h6>
                    <a href="/Product/Detay/@pro.Id">@pro.Name</a>
                </h6>
                <div class="price">
                    <h6>@pro.Price</h6>
                    <h6 class="l-through">$210.00</h6>
                </div>
                <div class="prd-bottom">
                    <a href="" class="social-info">
                        <span class="ti-bag"></span>
                        <p class="hover-text">Sepete Ekle</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="lnr lnr-heart"></span>
                        <p class="hover-text">İstek</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="lnr lnr-sync"></span>
                        <p class="hover-text">Karşılaştır</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="lnr lnr-move"></span>
                        <p class="hover-text">İncele</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
}


