@model ETicaret.MVCUI.Models.FilterPage


    
        <div class="head">Price</div>
        <div class="price-range-area">
            <div id="price-range"></div>
            <div class="value-wrapper d-flex">
                <div class="price">Price:</div>
                <span>$</span>
                <div id="lower-value" name="down"></div>
                <div class="to">to</div>
                <span>$</span>
                <div id="upper-value" name="up"></div>
            </div>
        </div>
        <div class="s_product_text" style="margin-left: 15%;">
            <div class="card_area d-flex align-items-center" >
                <button type="submit" name="searchh"data-search="@ViewBag.istek"  class="primary-btn priceSet" style=" background-color: #828bb3 !important;">Fiyat Filtrele</button>
            </div>
        </div>
 
