@model ETicaret.Entities.Models.Product

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                @foreach (var pro in Model.ProductSpesifications)
                {
                    <tr>
                        <td>
                            <h5>@pro.SpeCaption</h5>
                        </td>
                        <td>

                            <h5>@pro.SpeDescription</h5>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>
