
<h3>
    <span class="title_text">Ürün Resimleri</span>
</h3>
<fieldset>
    <div class="fieldset-content">
        <div class="form-radio">
            <label for="payment_type">Payment Type</label>
            <div class="form-radio-flex">
                <input type="radio" name="payment_type" id="payment_visa" value="payment_visa" checked="checked" />
                <label for="payment_visa"><img src="~/Content/colorlib-wizard-16/images/icon-visa.png" alt=""></label>

                <input type="radio" name="payment_type" id="payment_master" value="payment_master" />
                <label for="payment_master"><img src="~/Content/colorlib-wizard-16/images/icon-master.png" alt=""></label>

                <input type="radio" name="payment_type" id="payment_paypal" value="payment_paypal" />
                <label for="payment_paypal"><img src="~/Content/colorlib-wizard-16/images/icon-paypal.png" alt=""></label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="credit_card" class="form-label">Credit Card</label>
                <input type="text" name="credit_card" id="credit_card" />
            </div>
            <div class="form-group">
                <label for="cvc" class="form-label">CVC</label>
                <input type="text" name="cvc" id="cvc" />
            </div>
        </div>
        <div class="form-date">
            <label for="expiry_date">Expiration Date</label>
            <div class="form-flex">
                <div class="form-date-item">
                    <select id="expiry_date" name="expiry_date"></select>
                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                </div>
                <div class="form-date-item">
                    <select id="expiry_year" name="expiry_year"></select>
                    <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name_of_card" class="form-label">Name of card</label>
            <input type="text" name="name_of_card" id="name_of_card" />
        </div>
    </div>

    <div class="fieldset-footer">
        <span>Adım 3 / 3</span>
    </div>
</fieldset>