@using System.Web.UI.WebControls
@model ETicaret.Entities.Models.Product
<div class="review_box" >
    <h4>Görüş Bildir</h4>
    <p>Değerlendir:</p>
  
    <form class="row contact_form" action="/Product/Review" method="post" id="contactForm" novalidate="novalidate">
        
     
        <ul class="list">
            <li><a class="vote" data-value="1" href="Javascript:void(0)"><i class="fa fa-star "></i></a></li>
            <li><a class="vote" data-value="2" href="Javascript:void(0)"><i class="fa fa-star "></i></a></li>
            <li><a class="vote" data-value="3" href="Javascript:void(0)"><i class="fa fa-star "></i></a></li>
            <li><a class="vote" data-value="4" href="Javascript:void(0)"><i class="fa fa-star "></i></a></li>
            <li><a class="vote" data-value="5" href="Javascript:void(0)"><i class="fa fa-star "></i></a></li>
        </ul>
        <p class="yildizSayisi">Seçilen Yıldız Sayısı</p>
        @Html.Hidden("productId",Model.Id)
        <input class="yildiz" type="hidden" name="voteCount"/>
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" name="text" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
            </div>
        </div>
       @if (Session["Login"] != null)
       {
           <div class="col-md-12 text-right">
               <button type="submit" value="submit" class="primary-btn">Ürünü Yorumla</button>
           </div>
       }
       else
       {
           <div class="col-md-12 text-right">
               <a href="/Account/Login" class="primary-btn"> Giriş Yap</a>
           </div>
       }
    </form>
</div>

<script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
<script>
    $(".vote").click(function() {
        var al = $(this).data("value");
        document.getElementsByName("voteCount")[0].value = al;
        document.getElementsByClassName("yildizSayisi")[0].innerHTML = al+" Yıldız";

    });
</script>
